<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jm-tdp-durablefunc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/906bacd5-83f3-4bab-b6f0-c498a1ff4b6d/resourcegroups/jm-tdp-durablefuncRG/providers/Microsoft.Web/sites/jm-tdp-durablefunc</ResourceId>
    <UserName>$jm-tdp-durablefunc</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://jm-tdp-durablefunc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>